#logo {
    text-align: center;
    width: 500px;
    display: inline-block;
}
#gameover {
  visibility: hidden;
  font-size: 18pt;
  width:100%;
  position:absolute;
  top:50%;
  text-align: center;    
}

.stats {
  position: relative;
  display: inline-block;
}
.sidearea {
    width: 200px;
    height: 300px;
    position: relative;
    display: inline-block;
}

html *
{
  font-size: 1em !important;
  color: #000 !important;
  font-family: "Courier New", Courier, monospace;
}

input:focus {

  background: lightblue;
  color: black;
}

.container {
  width: 94%;
  margin: 3%;
}

#login {
  position: absolute;
  width: 100%;
}

#loginwindow {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#chat {
  width: 99%;
  overflow-Y: auto;
  position: absolute;
  top: -140px;
  z-index: 5;
}
#chathandle {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: black;
  display: block;
  text-align: center;
}

#chathandle:hover {
  background: white;
}

#chatbox {
  width: 100%;
  height: 100px;
  overflow-Y: auto;
}

#onlineplayers {
  float:left;
  margin: 0;
  overflow-Y: auto;
  visibility: hidden;
}

#gameboard {
  margin-left: 20%;
  border-left: 1px solid gray;
  margin-right: 20%;
  border-right: 1px solid gray;
  text-align: center;
  font-weight: bold;
  visibility: hidden;
}

#gamegrid {
  position: relative;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  visibility: inherit;
}

#rankinglist {
  float: right;
  margin: 0;
  overflow-Y: auto;
  visibility: hidden;
}

#rankings {
  width: 100%;
  margin: auto;
  text-align: left;
}

#challengebox {

  position: relative;
  visibility: hidden;
  z-index: 10;
  display: inline-block;
  padding-top: 1cm;
   
  margin-left: auto;
  margin-right: auto;
}

#challenge {
  position: absolute;
  overflow: hidden;
  top:  150px;
  left: 0px;
  width: 200px;
  height: 100px;
  background-color: azure;
  text-align: center;
}

#score {
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  z-index: 3;
  display: inline-block;
  visibility: hidden;
}

table, th, td, tr {
  border: 0px solid green;
  padding: 0px;
  margin: auto;
}
td {
  width: 19px;
  height: 19px;
}
.worm {
  visibility: inherit;
  position: relative;
  width:19px;
  height:19px;
  display: inline-block;
  vertical-align: middle;
}
.food
{
  visibility: inherit;
  font-weight: bold;
  font-size: 10pt !important;
  position: relative;
  width: 19px;
  height: 19px;
  display: inline-block;
  vertical-align:middle;
}

.grid {
  visibility: inherit;
  position: relative;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align:middle;
  border-top: 1px dotted black;
  border-left: 1px dotted black;
}
.wormimage {
  position: absolute;
}

#background-grid {
  min-width: 700px;
  position: absolute;
  visiblity: inherit;
  display: block;
  top: 0;
}
#food {
  min-width: 700px;
  position: absolute;
  visibility: inherit;
  display: block;
  top: 0;
}
#worms {
  position: absolute;
  min-width: 700px;
  visibility: inherit;
  top: 0;
  display: block;
  
}

.wide {
  width: 100%;
  position: absolute;
  text-align: center;
}
