input:focus {
  background: lightblue;
  color: black;
}

.container {
  width: 94%;
  margin: 3%;
}

#login {
  width: 100%;
  height: 100px;
  height: auto;
}

#chat {
  width: 100%;
  overflow-Y: auto;
}

#chatbox {
  width: 100%;
  height: 100px;
  overflow-Y:auto;
}

#onlineplayers {
  float:left;
  width: 20%;
  margin: 0;
  overflow-Y: auto;
}

#gameboard {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5px;
  border: 1px solid gray;
  text-align: center;
  background: lightblue;
}

#rankinglist {
  float: right;
  width: 20%;
  margin: 0;
  overflow-Y: auto;
}